absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
apturl==0.5.2
arabic-reshaper==3.0.0
asgiref==3.8.1
asttokens==2.4.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==21.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
beniget==0.4.1
blinker==1.8.2
blis==0.7.11
blosc2==2.5.1
Brlapi==0.8.3
Brotli==1.0.9
cachetools==5.3.3
catalogue==2.0.10
catboost==1.2.5
certifi==2020.6.20
cffi==1.16.0
chardet==4.0.0
cliapp==1.20180812.1
click==8.1.7
cloudpathlib==0.16.0
cmdtest==0.32+git
colorama==0.4.4
comm==0.1.4
command-not-found==0.3
confection==0.1.4
contourpy==1.1.1
cryptography==3.4.8
cssselect==1.2.0
cupshelpers==1.0
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.7
dbus-python==1.2.18
debugpy==1.8.0
decorator==5.1.1
defer==1.0.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
Django==5.0.6
dukpy==0.3.1
duplicity==0.8.21
elementpath==4.4.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
esprima==4.0.1
et-xmlfile==1.1.0
evdev==1.4.0
exceptiongroup==1.1.3
executing==2.0.0
expyriment==0.10.0
fasteners==0.14.1
feedfinder2==0.0.4
feedparser==6.0.11
ffpyplayer==4.5.1
filelock==3.13.3
Flask==3.0.3
Flask-Cors==4.0.1
flatbuffers==24.3.25
fonttools==4.43.1
freetype-py==2.4.0
frozenlist==1.4.1
fs==2.4.12
fsspec==2024.3.1
future==0.18.2
gast==0.5.4
GDAL==3.4.1
gensim==4.3.2
gevent==24.2.1
gitdb==4.0.11
GitPython==3.1.42
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.135.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.1
google-pasta==0.2.0
googleapis-common-protos==1.63.2
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.64.1
grpcio-status==1.62.2
gyp==0.1
h11==0.14.0
h5py==3.11.0
html2text==2024.2.26
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.0
hyperon==0.1.11
idna==3.3
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib-metadata==4.6.4
imutils==0.5.4
input-remapper==2.0.1
ipykernel==6.26.0
ipython==8.16.1
ipython_genutils==0.2.0
is-odd==0.1.1
itsdangerous==2.2.0
javascripthon==0.12
jedi==0.19.1
jeepney==0.7.1
jieba3k==0.35.1
Jinja2==3.1.3
joblib==1.3.2
json-tricks==3.17.3
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==3.2.0
jupyter_client==8.4.0
jupyter_core==5.4.0
keras==3.4.0
Keras-Preprocessing==1.1.2
keymapper==0.2
keyring==23.5.0
kiwisolver==1.4.5
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.10
langchain-google-genai==1.0.7
langchain-text-splitters==0.2.2
langcodes==3.3.0
langsmith==0.1.82
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
libclang==18.1.1
lime==0.2.0.1
lockfile==0.12.2
louis==3.20.0
lxml==5.2.0
lxml_html_clean==0.1.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.5.1
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.3.2
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.0.8
msgpack-numpy==0.4.8
multidict==6.0.5
murmurhash==1.0.10
mypy-extensions==1.0.0
namex==0.0.8
nbformat==5.1.3
ndindex==1.8
nest-asyncio==1.5.8
netifaces==0.11.0
networkx==3.2.1
newspaper3k==0.2.8
nltk==3.8.1
numexpr==2.9.0
numpy==1.26.1
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.0
olefile==0.46
openai==1.35.7
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.5
OWSLib==0.25.0
packaging==23.2
pandas==2.1.3
paramiko==2.9.3
parso==0.8.3
patsy==0.5.6
pbr==5.8.0
pexpect==4.8.0
pgmpy==0.1.25
pickleshare==0.7.5
pillow==10.2.0
platformdirs==3.11.0
plotly==5.4.0
ply==3.11
preshed==3.0.9
prompt-toolkit==3.0.39
proto-plus==1.24.0
protobuf==4.25.3
psutil==5.9.6
psychopy==2023.2.3
psychtoolbox==3.0.19.0
psycopg2==2.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pydantic==2.7.4
pydantic_core==2.18.4
pydbus==0.6.0
pygame==2.1.2
pyglet==1.5.27
Pygments==2.16.1
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
PyOpenGL==3.1.7
pyparallel==0.2.2
pyparsing==2.4.7
pypi-search==2.0
pyproj==3.3.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
pytesseract==0.3.10
python-apt==2.4.0+ubuntu3
python-bidi==0.4.2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-gitlab==4.4.0
python-vlc==3.0.20123
python-xlib==0.33
pythran==0.10.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.1.1
QScintilla==2.11.6
questplus==2023.1
regex==2023.12.25
reportlab==3.6.8
requests==2.25.1
requests-file==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rsa==4.9
scikit-image==0.24.0
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
SecretStorage==3.3.1
sgmllib3k==1.0.0
six==1.16.0
sklearn==0.0.post11
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
soundfile==0.12.1
soupsieve==2.5
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.31
sqlparse==0.5.0
srsly==2.4.8
stack-data==0.6.3
statsmodels==0.14.1
sympy==1.12
systemd-python==234
tables==3.9.2
tenacity==8.4.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
tesseract==0.1.3
textblob==0.18.0.post0
thinc==8.2.3
threadpoolctl==3.2.0
tifffile==2024.7.2
tinysegmenter==0.3
tldextract==5.1.2
torch==2.3.1
torchvision==0.18.1
tornado==6.3.3
tqdm==4.66.2
traitlets==5.12.0
triton==2.3.1
ttystatus==0.38
typer==0.9.4
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2023.3
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
ujson==5.9.0
unattended-upgrades==0.1
unicodedata2==14.0.0
uritemplate==4.1.1
urllib3==1.26.5
usb-creator==0.3.7
vaderSentiment==3.3.2
wadllib==1.3.6
wasabi==1.1.2
wcwidth==0.2.8
weasel==0.3.4
webencodings==0.5.1
websockets==12.0
Werkzeug==3.0.3
wikipedia==1.4.0
wrapt==1.16.0
wxPython==4.2.1
xarray==2024.2.0
xdg==5
xgboost==2.1.0
xkit==0.0.0
xmlschema==3.1.0
Yapps2==2.2.1
yarl==1.9.4
zipp==1.0.0
zope.event==5.0
zope.interface==6.2
